*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--cup-font-family);
    color: var(--cup-label);
    background: var(--cup-background);
    -webkit-font-smoothing: antialiased;
}
